[Unit]
Description = RTL 433 listening service
After = network.target

[Service]
ExecStart = /home/pi/home-automation/temperature/sdr/daemon.sh
StandardOutput=append:/var/ha/sdr/temp.csv
StandardError=append:/var/log/ha/sdr.log
WorkingDirectory=/var/ha/sdr/
User=pi
Restart=on-always
RestartSec=120
StartLimitBurst=20
StartLimitIntervalSec=2400

[Install]
WantedBy = multi-user.target
